{{ range $i, $e := .Page.Items }}
<tr class="even:bg-slate-900 odd:bg-slate-950">
  <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
    {{ $e.RequestData.Ip }}
  </th>
  <td class="px-6 py-4">
    {{ $e.RequestData.UserAgent }}
  </td>
  <td class="px-6 py-4">
    {{ if $e.IpDetails }}
    {{ $e.IpDetails.Latitude }}
    {{ end }}
  </td>
  <td class="px-6 py-4">
    {{ if $e.IpDetails }}
    {{ $e.IpDetails.Longitude }}
    {{ end }}
  </td>
  <td class="px-6 py-4">
    {{ if $e.IpDetails }}
    {{ $e.IpDetails.Country }}
    {{ end }}
  </td>
  <td class="px-6 py-4">
    {{ if $e.IpDetails }}
    {{ $e.IpDetails.City }}
    {{ end }}
  </td>
  <td class="px-6 py-4" id="time-{{ $e.Id }}">
  </td>
  <script>
    document.getElementById('time-{{ $e.Id }}').innerHTML = new Date('{{ $e.CreatedAt }}').toLocaleString();
  </script>
</tr>
{{ end }}
{{ if .Page.PageToken }}
<tr class="even:bg-slate-900 odd:bg-slate-950" id="new-target">
  <td colspan="7" class="px-6 py-4">
    <div hx-get="/ajax/link/{{ .Link.Id}}/visits?token={{ .Link.Token }}&pageToken={{ .Page.PageToken }}"
      hx-trigger="intersect" hx-swap="outerHTML" hx-target="#new-target" class="text-center">
      {{ template "loader" }}
    </div>
  </td>
</tr>
{{ end }}
