<!doctype html>
<html>

<head>
  <title>GoTiny</title>
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/toastify.min.css" />
  <link rel="stylesheet" href="/public/styles.css" />
  <script src="/public/htmx.min.js"></script>
  <script src="/public/toastify.min.js"></script>
  <script src="/public/toastify.js"></script>
  <script src="/public/sweetalert2.min.js"></script>
  <script src="/public/loading-states.js"></script>
  <script src="/public/format-dates.js"></script>
  <script defer src="/public/base.js"></script>
</head>

<body class="w-screen">
  <div
    class="mx-auto overflow-x-hidden w-screen h-screen bg-contain bg-fixed bg-top bg-no-repeat shadow-lg min-h-screen"
    style="background-image:url('/public/images/bg.webp');">
    <div class="aspect-[16/6] w-screen flex content-center items-center justify-center flex-shrink-0">
      <form hx-post="/ajax/link" class="w-full flex justify-center" hx-target="#target" hx-indicator="#loader"
        hx-ext="format-dates" hx-swap="beforeend" hx-ext="loading-states">
        <div class="backdrop-blur rounded-full bg-neutral-800/40 flex w-1/2 px-2 py-2 items-center">
          <input class="appearance-none font-semibold placeholder:text-slate-100/70 bg-transparent
              border-none text-slate-100 mr-3 py-1 px-4 leading-tight focus:outline-none text-lg flex-1"
            placeholder="Put link here" type="text" name="link" />
          <div id="loader" class="htmx-indicator flex-shrink-0">
            {{template "loader_small" .}}
          </div>
          <input type="submit" value="Shorten URL"
            class="cursor-pointer bg-transparent font-bold text-lg data-loading-disable
              text-fuchsia-200 py-2 px-4 rounded-full hover:scale-110 transition duration-300 ease-in-out flex-shrink-0" />
        </div>
      </form>
    </div>
    <div class='flex-1'>

      <div class="aspect-16/6">
      </div>
      <div id="target" class="bg-slate-900 flex flex-col-reverse"></div>
      <div id="target" class="bg-slate-900 flex flex-col items-center">

        <div hx-get="/ajax/links" hx-trigger="revealed" hx-swap="outerHTML" hx-target="this">
          {{ template "loader" }}
        </div>

      </div>
    </div>
  </div>
</body>

</html>
