<!doctype html>
<html>

<head>
  <title>Hi</title>
  <meta name="description" content="">
  <meta name="keywords" content="">
  <link rel="stylesheet" href="/public/styles.css" />
  <script src="/public/htmx.min.js"></script>
  <script src="/public/remove-me.js"></script>
  <script src="/public/loading-states.js"></script>
  <script src="/public/format-dates.js"></script>
</head>

<body>
  <form hx-post="/ajax/link" hx-target="#target" hx-indicator="#loader" hx-ext="format-dates" hx-swap="afterbegin">
    <input type="text" name="link" />
    <input type="checkbox" id="enable_valid_until" onclick="this.form.valid_until.disabled=!this.checked" />
    <input disabled format-date type="datetime-local" name="valid_until" id="valid_until" />
    <input type="checkbox" id="enable_valid_until" onclick="this.form.max_hits.disabled=!this.checked" />
    <input disabled type="number" name="max_hits" id="max_hits" />
    <input type="checkbox" id="enable_valid_until" onclick="this.form.track_until.disabled=!this.checked" />
    <input disabled format-date type="datetime-local" name="track_until" id="track_until" />
    <input type="submit" value="Submit" />
  </form>
  <div id="loader" class="htmx-indicator">Loading...</div>
  <div id="target"></div>
</body>

</html>
